
.row1{
  width:120px;
  height:120px;
  float:left;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 115px 115px;
}
.row2{
  width:120px;
  height:120px;
  float:left;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 115px 115px;
}
.row3{
  width:120px;
  height:120px;
  float:left;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 115px 115px;
}
.row4{
  width:120px;
  height:120px;
  float:left;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 115px 115px;
}
.row5{
  width:120px;
  height:120px;
  float:left;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 115px 115px;
}

.circle {
  border-radius: 50%;
  border: 2px solid black;
  background-color:#FFF3E0;
  background-position: center; 
  width: 50px;
  height: 50px; 
  text-align:center;
  line-height:50px;
  margin-left: 30%;
  margin-top: 30%;

}



    