resources/brick.xcf
resources/desert.xcf
resources/ore.xcf
resources/sheep.xcf
resources/water.xcf
resources/wheat.xcf
resources/wood.xcf
resources/brick_card.xcf
resources/ore_card.xcf
resources/resourceCards.jpg
resources/sheep_card.xcf
resources/wheat_card.xcf
resources/wood_card.xcf
