<!DOCTYPE html>
<html lang="en" ng-app="CatanBoardGenerator">
  
  <head>
    <title>Catan Board Generator</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   	<script src="index.js" ></script>
   	<link rel="stylesheet" type="text/css" href="main.css" media="screen" />

   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  
  <body ng-controller="MainController">
  	<div class="container mainContainer">
  		<div class="row">
		    <h1 class="col-sm-8">Generate Board</h1>
		    <div class="col-sm-4">
			    <button type="button" class="btn btn-default">Home</button>
			    <button type="button" class="btn btn-default">Generate</button>
			</div>
		</div>
		<hr>

		<div class="row">
		    <form ng-submit="generateBoard()">
		    	<div class="radio">
				  <label><input type="radio" ng-model="board.type" value="normal" name="normal">Normal (3-4)</label>
				  <label><input type="radio" ng-model="board.type" value="expansion" name="normal">Expansion (5-6)</label>
				</div>

			    <h4> Scramble Key: </h4>
			    <input type="text" ng-model="board.key"></input>
			    <input type="submit" id="submit" value="Submit" />
			</form>
		</div>

		<div>
		    <p ng-if="board.type == 'normal'" ng-repeat="(key,value) in normalTokens track by $index" style="margin:0px">
		    	{{key}} - {{value}} - {{deck[$index]}}
		    </p>

		     <p ng-if="board.type == 'expansion'" ng-repeat="(key,value) in expansionTokens track by $index" style="margin:0px">
		    	{{key}} - {{value}} - {{deck[$index]}}
		    </p>
		</div>
	</div>
  </body>
 



</html>