<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="CatanBoardGenerator">
  
  <head>
    <title></title>
   	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


  </head>
  
  <body ng-controller="MainController">
  	<div>
	    <h1>Generate Board</h1>
	    
	    <form>
	    	<div class="radio">
			  <label><input type="radio" name="normal">Normal (3-4)</label>
			</div>
		    <h4> Scramble Key: </h4><input type="text" ng-model="scrambleKey"></input>
		</form>

	    <p ng-repeat="(key,value) in normalTokens track by $index">
	    	{{key}} - {{value}} - {{deck[$index]}}
	    </p>
	</div>
  </body>
 

<script>
  var app = angular.module('CatanBoardGenerator', []);

	app.controller('MainController', function($scope) {
	 	
	 	$scope.deck = [];

	 	//The tokens for a normal 3-4 game
	 	$scope.normalTokens = {
	 		'A': 5,
	 		'B': 2,
	 		'C': 6,
	 		'D': 8,
	 		'E': 3,
	 		'F': 10,
	 		'G': 9,
	 		'H': 12,
	 		'I': 11,
	 		'J': 4,
	 		'K': 8,
	 		'L': 10,
	 		'M': 9,
	 		'N': 4,
	 		'O': 5,
	 		'P': 6,
	 		'Q': 3,
	 		'R': 11,
	 	}

	 	$scope.addResources = function (count,resource) {
	 		for (var x = 0; x<count; x++) {
	 			$scope.deck.push(resource);
	 		}
	 	}

	 	$scope.addResources(3,'Brick');
	 	$scope.addResources(3,'Ore');
	 	$scope.addResources(4,'Wood');
	 	$scope.addResources(4,'Sheep');
	 	$scope.addResources(4,'Wheat');

	});
</script>

</html>