<!DOCTYPE html>
<html lang="en" ng-app="CatanBoardGenerator">
  
  <head>
    <title>Catan Board Generator</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

   	<script src="js/index.js" ></script>
   	<link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />

   	<script src='js/pdfmake.min.js'></script>
 	<script src='js/vfs_fonts.js'></script>
 	<script src='js/html2canvas.js'></script>
 	<script src='js/html2canvas.svg.js'></script>

   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>
  
  <body ng-controller="MainController">
  	<div class="container">
  		
		    <h1>Generator v1</h1>

		<hr>

		<!-- Board -->
		<div class="row">
			<div class="col-md-4">
				<form>
					<fieldset class="form-group">
						<legend>Type</legend>			
						<div class="form-check">
							<label class="form-check-label">
							<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
							Normal
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
							<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
							Expansion
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
							<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
							Seafarers
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
							<input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
							Cities and Knights
							</label>
						</div>
					</fieldset>

					<fieldset class="form-group">
						<legend>Details</legend>
						<div class="form-group">
							<label for="name">Board Name</label>
							<input type="text" ng-model="game.name" class="form-control" id="name" placeholder="Enter a Board Name">
							<small class="form-text text-muted">This is so you can reference a generated board.</small>
						</div>
						<div class="form-group">
							<label for="exampleTextarea">Notes</label>
							<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
						</div>
					<fieldset>
						<button type="submit"
					class="btn btn-danger" ng-click="scrambleTiles();setTiles();">Scramble</button>
					<button type="submit" ng-click="generatePDF()" class="btn btn-info">Download</button>
				</form>
			</div>
			<div class="col-sm-8 col-md-8 col-lg-8"> 

				<!-- Very crude implementation - Serves only as visual before export -->
				<!-- Height increases by 90px, width changes variable to give 10px between -->
				<div style="position:absolute;width:700px;height:500px;padding:10px">
						<div style="position: absolute;left: 200px">
							<div class="row1 tile" id="tile0"></div>
							<div class="row1 tile" id="tile1"></div>
							<div class="row1 tile" id="tile2"></div>
						</div>
						<div style="position: absolute;left: 140px;top:100px">
							<div class="row2 tile" style="clear:both" id="tile3"></div>
						 	<div class="row2 tile" id="tile4"></div>
							<div class="row2 tile" id="tile5"></div>
							<div class="row2 tile" id="tile6"></div>
						</div>
						<div style="position: absolute;left: 80px;top:190px">
							<div class="row3 tile" style="clear:both" id="tile7"></div>
							<div class="row3 tile" id="tile8"></div>
							<div class="row3 tile" id="tile9"></div>
							<div class="row3 tile" id="tile10"></div>
							<div class="row3 tile" id="tile11"></div>
						</div>
						<div style="position: absolute;left: 140px;top:280px">
							<div class="row4 tile" style="clear:both" id="tile12"></div>
							<div class="row4 tile" id="tile13"></div>
							<div class="row4 tile" id="tile14"></div>
							<div class="row4 tile" id="tile15"></div>	
						</div>
						<div style="position: absolute;left: 200px;top:370px">
							<div class="row5 tile" style="clear:both" id="tile16"></div>
							<div class="row5 tile" id="tile17"></div>
							<div class="row5 tile" id="tile18"></div>
						</div>
				</div>

					

				
			</div>
		<div>

	</div>
  </body>
</html>




